﻿@model Nullable<System.Boolean>
@{
    //string fullName = Html.ViewData.TemplateInfo.GetFullHtmlFieldName(Html.ViewData.ModelMetadata.PropertyName);
    var fullName = ViewData.TemplateInfo.HtmlFieldPrefix;
    string id = fullName.Replace("[", "_").Replace("]", "_").Replace(".", "_");
    if (Model != null && Convert.ToBoolean(Model))
    {
      
             
        <input checked="checked" style="width:30px;" class="check-box form-control" data-val="true"
               data-val-required="The @ViewData.ModelMetadata.PropertyName field is required."
               id="@id"
               name="@fullName"
               type="checkbox" value="true">

    }
    else
    {
        <input style="width:30px;" class="check-box form-control" data-val="true"
               data-val-required="The @ViewData.ModelMetadata.PropertyName field is required."
               id="@id"
               name="@fullName"
               type="checkbox" value="true">
    }

}

