﻿@model SolicitudEmpleado.Data.Bloqueo
@using SolicitudEmpleado.Helpers;
@{
    ViewBag.Title = "Bloquear Usuario";
}

<div class="row">
    <div class="col-md-12">

    <h3 class="titulo">@ViewBag.Title</h3>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.EmpresaID, htmlAttributes: new { @class = "control-label col-md-2" }) 
                <div class="col-md-10">
                    @Html.DropDownList("EmpresaID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EmpresaID, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UsuarioID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UsuarioID, new { htmlAttributes = new { @class = "form-control" } })
                    <div>
                        @Html.ValidationMessageFor(model => model.UsuarioID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input id="NombreEmpleado" class="form-control text-box single-line" type="text" value="@ViewBag.Nombre" readonly="readonly">
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Motivo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Motivo, new { htmlAttributes = new { @class = "form-control" } })
                    <div>
                        @Html.ValidationMessageFor(model => model.Motivo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Comentario, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control" } })
                    <div>
                        @Html.ValidationMessageFor(model => model.Comentario, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-actions col-md-offset-2">
                @if (ViewBag.blGuardado != "true")
                {
                    <input type="submit" value="Bloquear" class="btn btn-primary" />
                } 
            </div>
        
        </div>
    }

    </div>
</div>

@if (Request.IsAjaxRequest())
{
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/Bloqueos/Bloquear.js"></script>
}
else
{
    @section scripts {
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Scripts/Bloqueos/Bloquear.js"></script>
    }
}