﻿@using System.Web.Configuration;
@{
  string nombreApp = WebConfigurationManager.AppSettings["Seguridad.App.Nombre"];
}

@Helpers.Titulo(nombreApp, "Versión 1.0")

<div class="row">
  <div class="span12">

    <article class="row">
     
    </article>

  </div>
</div>