﻿
<div class="row">
    <div class="span12">
        <img src="~/Content/Images/atencionalclientei.jpg" />
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="row">
            <h3 class="titulo">Solicitudes de Prestamos</h3>
            <p>
                Esta es la aplicación de administración y seguimiento de solicitudes de préstamos.
                Aquí podemos dar seguimiento a las solicitudes realizadas por los clientes. Podemos asignar dicha solicitud a los encargados y agentes de servicios. 
                incluir un texto alusivo a la aplicacion.
            </p>
            <div class="text-center">
                <a class="btn btn-primary" href="~/Solicitudes/MisSolicitudes">Mis Solicitudes</a>
                <a class="btn btn-primary" href="~/Solicitudes/Pendientes">Solicitudes Pendientes</a>
                <a class="btn btn-primary" href="~/Disponibilidad">Consulta de Disponiblidad</a>
                <a class="btn btn-primary" href="~/Bloqueos">Buscar Bloqueo Usuario</a>
            </div>
        </div>
    </div>
</div>

