﻿@using System.Web.Configuration;
@{
  string nombreApp = WebConfigurationManager.AppSettings["Seguridad.App.Nombre"];
}

<div class="row">
  <div class="col-sm-12 col-md-12">

    <article class="row">
     
    </article>

  </div>
</div>