﻿<div class="row">
    <div class="col-sm-12 col-md-12">
        <img style="width: 1140px;" src="~/Content/Images/atencionalclientei.jpg" />
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">

            <h3 class="titulo">Dashboard</h3>
            <p>
                Esta es la aplicación de administración y seguimiento de solicitudes de ejecutivos.
                Aquí podemos dar seguimiento a las solicitudes realizadas por los Empleados. Podemos asignar dicha solicitud a los encargados y agentes de servicios. 
                incluir un texto alusivo a la aplicacion.
            </p>
            <div class="text-center">
				<a class="btn btn-primary" href="~/Solicitudes/Crear/1"><i class="icon-off"></i>&nbsp;Activacion</a>
				<a class="btn btn-primary" href="~/Solicitudes/Crear/2"><i class="icon-exchange"></i>&nbsp;Cambio de Plan</a>
                <a class="btn btn-primary" href="~/Solicitudes/Crear/3"><i class="icon-plus-sign-alt"></i>&nbsp;Adicion de Linea</a>
                <a class="btn btn-primary" href="~/Solicitudes/MisSolicitudes"><i class="icon-star"></i>&nbsp;Mis Solicitudes</a>
                <a class="btn btn-primary" href="~/Solicitudes/Pendientes"><i class="icon-warning-sign"></i>&nbsp;Solicitudes Pendientes</a>
            </div>
     
    </div>
</div>

