﻿To: @ViewBag.To
Subject: @ViewBag.Encabezado

@{
    var coleccion = (IList<SolicitudEmpleado.Models.spGetPropiedadesDeSolicitudResult>)ViewBag.Coleccion;
    var solicitud = (SolicitudEmpleado.Data.Solicitud)ViewBag.Solicitud;
    var usuario = (SeguridadComun.Usuario)ViewBag.Usuario;
    string oficina = ViewBag.Oficina as string;
    string urlTasadores = ViewBag.UrlTasadores as string;
    string urlSeguro = ViewBag.UrlSeguro as string;
}

<p>Estimado Sr(a). @solicitud.NombreEmpleado,</p>

<p>Por favor verifique las informaciones de más abajo para continuar con su solicitud de préstamo.</p>

@if (!String.IsNullOrWhiteSpace(ViewBag.Mensaje))
{
    <p>
        <strong>Comentarios:</strong>
    </p>
    <p>
        @Html.Raw(ViewBag.Mensaje.Replace(Environment.NewLine, "<br />"))
    </p>
}

<p>
    <strong>Documentos Pendientes:</strong>
</p>

@if (coleccion.Any())
{
    <div style="margin-top: 10px; margin-left: 0">
        <ul>
            @foreach (var item in coleccion)
            {
                <li style="margin: 8px 10px">
                    <span>@item.Nombre:</span>
                    <br />
                    <i>@item.Descripcion</i>                        

                    @* Inspección de Seguros Link *@
                    @if (item.PropiedadID == 65)
                    {
                        <br />
                        <span><a href="@urlSeguro">Clic aquí</a> para ver la guía.</span>
                    }

                    @* Informe Tasación Link *@
                    @if (item.PropiedadID == 60)
                    {
                        <br />
                        <span><a href="@urlTasadores">Clic aquí</a> para ver listado de tasadores autorizados.</span>
                    }
                </li>
            }
        </ul>
    </div>
}
else
{
    <p>No tiene documentos pendientes.</p>
}
<div style="margin-top: 25px;">
    <dl>
        <dt>
            <strong> Para más información, contactar a:</strong>
            <br />
        </dt>
        <dt>
            @usuario.nombreCompleto
        </dt>
        <dt>
            <a href="mailto:@usuario.correo">@usuario.correo.ToLower()</a>
        </dt>
        <dt>
            @usuario.puesto
        </dt>
        <dt>
            @usuario.departamento
        </dt>
        <dt>
            @usuario.telefonoForm
        </dt>
    </dl>
</div>
