﻿<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse collapse">
        @Html.MenuAplicacion("~/Config/Menu.xml")
        @Html.Partial("Controles/Layout/Busqueda")
      </div>
    </div>
  </div>
</div>