﻿@model SolicitudEmpleado.Data.TiposPropiedad

@{
    ViewBag.Title = "Eliminar Tipos Propiedad";
}

<div class="row">

<h3 class="titulo">@ViewBag.Title</h3>

<h5>Esta seguro que desea eliminar este registro?</h5> @Html.ValidationSummary(true, "", new { @class = "alert alert-error" })
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Propiedade, htmlAttributes: new { @class = "control-label title" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propiedade.Nombre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Tipos, htmlAttributes: new { @class = "control-label title" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipos.Nombre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Requerido, htmlAttributes: new { @class = "control-label title" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requerido)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Guardar, htmlAttributes: new { @class = "control-label title" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guardar)
        </dd>

        <dt>
            @Html.LabelFor(model => model.GuardarHistorial, htmlAttributes: new { @class = "control-label title" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardarHistorial)
        </dd>

        <dt>
            @Html.LabelFor(model => model.EsUnico, htmlAttributes: new { @class = "control-label title" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsUnico)
        </dd>
        <dt>
            @Html.LabelFor(model => model.Orden, htmlAttributes: new { @class = "control-label title" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions">
            <input type="submit" value="Eliminar" class="btn" /> 
        </div>
    }
</div>
</div>
