﻿@model SolicitudEmpleado.Data.TiposPropiedad

@{
    ViewBag.Title = "Editar Tipos Propiedad";
}

<div class="row">

<h3 class="titulo">@ViewBag.Title</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="">

        @Html.ValidationSummary(true, "", new { @class = "alert alert-error" })
        @Html.HiddenFor(model => model.TiposPropiedadesID)
        <div class="form-group">
            @Html.LabelFor(model => model.TipoID, htmlAttributes: new { @class = "control-label title" })
            <div class="col-md-10">
                @Html.DropDownList("TipoID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TipoID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PropiedadID, htmlAttributes: new { @class = "control-label title" })
            <div class="col-md-10">
                @Html.DropDownList("PropiedadID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PropiedadID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Requerido, htmlAttributes: new { @class = "control-label title" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Requerido)
                    @Html.ValidationMessageFor(model => model.Requerido, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Guardar, htmlAttributes: new { @class = "control-label title" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Guardar)
                    @Html.ValidationMessageFor(model => model.Guardar, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GuardarHistorial, htmlAttributes: new { @class = "control-label title" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.GuardarHistorial)
                    @Html.ValidationMessageFor(model => model.GuardarHistorial, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EsUnico, htmlAttributes: new { @class = "control-label title" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.EsUnico)
                    @Html.ValidationMessageFor(model => model.EsUnico, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Orden, htmlAttributes: new { @class = "control-label title" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Orden, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Orden, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-actions">
                <input type="submit" value="Guardar" class="btn btn-default" />
          
        </div>
    </div>
}

</div>

@if (Request.IsAjaxRequest())
{
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}
else
{
    @section scripts {
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    }
}
