﻿@model SolicitudEmpleado.Models.ListadoTiposPropiedadesViewModel

@{
    ViewBag.Title = "Tipos Propiedades";
}
<div class="row">

    <h3 class="titulo">@ViewBag.Title</h3>
    @Html.Partial("_MensajeError")
    <div class="column column-3" style="margin-bottom: -41px; z-index: 1">
        <label class="control-label title" for="TipoId">Solicitud Tipo</label>
        <div class="controls">
            @Html.DropDownListFor(model => model.TipoId, ViewBag.ListaTipos as SelectList)
        </div>
    </div>
  
    <div class="column column-3" style="margin-bottom: -41px; z-index: 1">
        <label class="control-label title" for="PropiedadTipoId">Propiedad Tipo</label>
        <div class="controls">
            @Html.DropDownListFor(model => model.PropiedadTipoId, ViewBag.ListaPropiedadTipos as SelectList)
        </div>
    </div>

    <div class="column column-3" style="margin-bottom: -41px; z-index: 1">
        <label class="control-label title" for="PropiedadId">Propiedad</label>
        <div class="controls">
            @Html.DropDownListFor(model => model.PropiedadId, ViewBag.ListaPropiedades as SelectList)
        </div>
    </div>

    <table class="display">
        <thead>
            <tr>
              
                <th>
                    Solicitud Tipo
                </th>
                <th>
                    Propiedad Tipo
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Listado.FirstOrDefault().Propiedade.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Listado.FirstOrDefault().Requerido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Listado.FirstOrDefault().Guardar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Listado.FirstOrDefault().EsUnico)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Listado.FirstOrDefault().Orden)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Listado)
            {
                <tr>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipos.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Propiedade.PropiedadTipo.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Propiedade.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Requerido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Guardar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EsUnico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Orden)
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                                Accion
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Details", "TiposPropiedads", new { id=item.TiposPropiedadesID })')">Detalle</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Edit", "TiposPropiedads", new { id=item.TiposPropiedadesID, id1 = Model.TipoId, id2 = Model.PropiedadTipoId})')">Editar</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Delete", "TiposPropiedads", new { id=item.TiposPropiedadesID })')">Eliminar</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="form-actions">
        <a href="#" class="btn" onclick="cargarModal('@Url.Action("Create", "Propiedades", new { id = Model.PropiedadTipoId, solicitudTipoId = Model.TipoId })')">Crear Nueva Propiedad</a>
        <a href="#" class="btn" onclick="cargarModal('@Url.Action("Create", "TiposPropiedads", new { id1 = Model.TipoId, id2 = Model.PropiedadTipoId })')">Crear Nuevo Tipo Propiedad</a>
    </div>

</div>

@section scripts{

    @*Datatable BEING*@
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.jqueryui.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    @*Datatable END*@

    <!-- Mi Codigo Data Table -->
    <script src="~/Scripts/myCodeDataTable.js"></script>

    <script>

        $(document).ready(function () {

            var nombreDelBoton = "#PropiedadId";
            $(nombreDelBoton).change(function () {
                var selectedValue = $(nombreDelBoton).val();
                var div = document.getElementById(nombreDelBoton.replace('#', ''));
                var divRoot = document.getElementsByTagName("body")[0].getAttribute('data-root');
                var url = divRoot + 'TiposPropiedads/Index/' + selectedValue;
                Redirect(url);

            });

            var nombreDelBoton1 = "#TipoId";
            $(nombreDelBoton1).change(function () {
                var selectedValue = $(nombreDelBoton1).val();
                var div = document.getElementById(nombreDelBoton1.replace('#', ''));
                var divRoot = document.getElementsByTagName("body")[0].getAttribute('data-root');
                var url = divRoot + 'TiposPropiedads/Index/?id1=' + selectedValue + '&id2=' +  $(nombreDelBoton2).val();
                Redirect(url);
            });

            var nombreDelBoton2 = "#PropiedadTipoId";
            $(nombreDelBoton2).change(function () {
                var selectedValue = $(nombreDelBoton2).val();
                var div = document.getElementById(nombreDelBoton2.replace('#', ''));
                var divRoot = document.getElementsByTagName("body")[0].getAttribute('data-root');
                var url = divRoot + 'TiposPropiedads/Index/?id1=' + $(nombreDelBoton1).val() + '&id2=' + selectedValue;
                Redirect(url);
            });


        });


    </script>
}
