﻿@model SolicitudEmpleado.Data.Propiedad

@{
    ViewBag.Title = "Nueva Propiedad";
}

<div class="row">

    <h3 class="titulo">@ViewBag.Title</h3>
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="">
            @Html.ValidationSummary(true, "", new { @class = "alert alert-error" })
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label title" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label title" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label title" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Tipo, ViewBag.ListaDeTipos as List<SelectListItem>)
                    @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RegularExpression, htmlAttributes: new { @class = "control-label title" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RegularExpression, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RegularExpression, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PlaceHolder, htmlAttributes: new { @class = "control-label title" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PlaceHolder, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PlaceHolder, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PorDefecto, htmlAttributes: new { @class = "control-label title" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PorDefecto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PorDefecto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TipoPropiedadID, htmlAttributes: new { @class = "control-label title" })
                <div class="col-md-10">
                    @Html.DropDownList("TipoPropiedadID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TipoPropiedadID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Opciones, htmlAttributes: new { @class = "control-label title" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Opciones, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Opciones, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-actions no-color">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    }

</div>

@if (Request.IsAjaxRequest())
{
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}
else
{
    @section scripts {
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    }
}
