﻿@model SolicitudEmpleado.Models.ListadoPropiedadesViewModel

@{
    
    ViewBag.Title = "Propiedades";
    if (!String.IsNullOrEmpty(Model.Nombre))
    {
        ViewBag.Title += " " + Model.Nombre;
    }
}
<div class="row">

<h3 class="titulo">@ViewBag.Title</h3>
    @Html.Partial("_MensajeError")
    <div class="column column-3" style="margin-bottom: -41px; z-index: 1">
        <label class="control-label title" for="PropiedadTipo">Propiedad Tipo</label>
        <div class="controls">
            @Html.DropDownListFor(model => model.TipoPropiedadID, ViewBag.ListaTipos as SelectList)
        </div>
    </div>

<table class="display">
    <thead>
    <tr>
        <th>
            Propiedad Tipo
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Propiedades.FirstOrDefault().Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Propiedades.FirstOrDefault().Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Propiedades.FirstOrDefault().PlaceHolder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Propiedades.FirstOrDefault().PorDefecto)
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Propiedades) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PropiedadTipo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlaceHolder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PorDefecto)
        </td>
        <td>
             <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                    Accion
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" onclick="cargarModal('@Url.Action("Details", "Propiedades", new { id = item.PropiedadID })')">Detalle</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" onclick="cargarModal('@Url.Action("Edit", "Propiedades", new { id = item.PropiedadID })')">Editar</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" onclick="cargarModal('@Url.Action("Delete", "Propiedades", new { id = item.PropiedadID })')">Eliminar</a>
                    </li>
                </ul>
            </div>
        </td>
        <td>
            <a href="#" class="btn" onclick="cargarModal('@Url.Action("ModificarTipo", "Propiedades", new { id = item.PropiedadID })')">Habilitar</a>
        </td>
    </tr>
}
    </tbody>
    </table>

    <div class="form-actions">
        <a href="#" class="btn" onclick="cargarModal('@Url.Action("Create", "Propiedades", new { id = Model.TipoPropiedadID })')">Crear Nueva Propiedad</a>
    </div>

</div>

@section scripts{

    @*Datatable BEING*@
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.jqueryui.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    @*Datatable END*@

    <!-- Mi Codigo Data Table -->
    <script src="~/Scripts/myCodeDataTable.js"></script>

    <script>
      
        $(document).ready(function () {

            var nombreDelBoton = "#TipoPropiedadID";
           
            $(nombreDelBoton).change(function () {
                var selectedValue = $('#TipoPropiedadID').val();
                var div = document.getElementById(nombreDelBoton.replace('#', ''));
                var divRoot = document.getElementsByTagName("body")[0].getAttribute('data-root');
                var url = divRoot + 'Propiedades/Index/' + selectedValue;
                Redirect(url);

            });

        });

    </script>
}

