﻿@model SolicitudEmpleado.Data.Tipo

@{
    ViewBag.Title = "Detalles Tipo";
}

<div class="row">

<h3 class="titulo">@ViewBag.Title</h3>

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.TiposSolicitud, htmlAttributes: new { @class = "control-label title" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiposSolicitud.Nombre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label title" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label title" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label title" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>

</div>
