﻿
@{
  Layout = "~/Views/Shared/Layouts/_Layout_Menu.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="titulo">@ViewBag.Titulo</h3>
        <article>
            <p>@ViewBag.Mensaje</p>
            <p>
                Regrese a la pantalla anterior e intente su &uacute;ltima acci&oacute;n nuevamente. Si recibe este mensaje,
                contacte a <a href="http://s460-hdesk:8080/CAisd/pdmweb.exe">Mesa de Servicios TI</a>.
        </article>
    </div>
</div>
@section menu {
  <ul>
      <li><a class="ttip" onclick="history.go(-1)"><i class="icon-arrow-left icon-2x"></i><span>Regresar</span></a></li>
  </ul>
}