﻿
@{
  Layout = "~/Views/Shared/Layouts/_Layout_Menu.cshtml";
}

<div class="row">
  <h3 class="titulo">M&oacute;dulo No Disponible</h3>
  <article>
    <p>El m&oacute;dulo que intent&oacute;n visualizar se encuentra temporalmente fuera de servicio.</p>
    <p>Favor regrese a la pantalla anterior e intente su &uacute;ltima acci&oacute;n nuevamente. Si el problema persiste,
      contacte a <a href="">Mesa de Servicios TI</a>.
    </p>
  </article>
</div>

@section menu {
  <ul>
      <li><a class="ttip" onclick="history.go(-1)"><i class="icon-arrow-left icon-2x"></i><span>Regresar</span></a></li>
  </ul>
}