﻿@model SolicitudEmpleado.Models.EditarSolicitudViewModel

@{
    Layout = "~/Views/Shared/Layouts/_Layout_NotLogged.cshtml";
}

@using SolicitudEmpleado.Helpers

@{

    ViewBag.Title = " Crear Nueva Solicitud " + ViewBag.TipoSolicitudNombre;

}

<div class="row">
    <div class="col-md-12">
        <form method="post" action="@Request.Url.PathAndQuery">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
            @Html.HiddenFor(p => p.solicitud.TipoSolicitudID)
            @Html.HiddenFor(p => p.solicitud.TipoID)
            @Html.HiddenFor(p => p.solicitud.TipoIdentificacionID)

            <h3 class="titulo">@ViewBag.Title</h3>
            @Html.Partial("_MensajeError")
            <h5>
                Datos Personales
            </h5>
            <hr />
            <div class="row" style="width: 85%; margin-left: auto; margin-right: auto; color: #777;">
                <div class="col-md-6 col-sm-6">
                    <dl class="dl-horizontal">
                       
                        <dt>
                            @Html.DisplayNameFor(model => model.solicitud.Empresa.Nombre)
                        </dt>
                        <dd>
                            <div style="margin-bottom: 10px;">
                            @Html.DropDownListFor(model => model.solicitud.EmpresaID, ViewBag.ListaEmpresas as SelectList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.solicitud.EmpresaID, "", new { @class = "text-danger" })
                            </div>
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.solicitud.CodigoEmpleado)
                        </dt>
                        <dd>
                            @Html.EditorFor(model => model.solicitud.CodigoEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.solicitud.CodigoEmpleado, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.solicitud.NombreEmpleado)
                        </dt>
                        <dd>
                            @Html.EditorFor(model => model.solicitud.NombreEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.solicitud.NombreEmpleado, "", new { @class = "text-danger" })
                        </dd>
                                                
                        <dt>
                            @Html.DisplayNameFor(model => model.solicitud.TiempoServicio)
                        </dt>
                        <dd>
                            @Html.EditorFor(model => model.solicitud.TiempoServicio, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.solicitud.TiempoServicio, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            Cedula
                        </dt>
                        <dd>
                            @Html.EditorFor(model => model.solicitud.Identificacion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.solicitud.Identificacion, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.solicitud.Cuenta)
                        </dt>
                        <dd>
                            @Html.EditorFor(model => model.solicitud.Cuenta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.solicitud.Cuenta, "", new { @class = "text-danger" })
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.solicitud.Direccion)
                        </dt>
                        <dd>
                            @Html.EditorFor(model => model.solicitud.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.solicitud.Direccion, "", new { @class = "text-danger" })
                        </dd>

                    </dl>
                </div>
                <div class="col-md-6 col-sm-6">
                    <dl class="dl-horizontal">
                       
                        <dt>
                            @Html.DisplayNameFor(model => model.solicitud.TipoEmpleado.Nombre)
                        </dt>
                        <dd>
                            <div style="margin-bottom: 10px;">
                                @Html.DropDownListFor(model => model.solicitud.TipoEmpleadoID, ViewBag.ListaTipoEmpleado as SelectList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.solicitud.TipoEmpleadoID, "", new { @class = "text-danger" })
                            </div>
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.solicitud.Posicion)
                        </dt>
                        <dd>
                            @Html.EditorFor(model => model.solicitud.Posicion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.solicitud.Posicion, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.solicitud.Departamento)
                        </dt>
                        <dd>
                            @Html.EditorFor(model => model.solicitud.Departamento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.solicitud.Departamento, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.solicitud.TelefonoOficina)
                        </dt>
                        <dd>
                            @Html.EditorFor(model => model.solicitud.TelefonoOficina, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.solicitud.TelefonoOficina, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.solicitud.TelefonoCelular)
                        </dt>
                        <dd>
                            @Html.EditorFor(model => model.solicitud.TelefonoCelular, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.solicitud.TelefonoCelular, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.solicitud.Email)
                        </dt>
                        <dd>
                            @Html.EditorFor(model => model.solicitud.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.solicitud.Email, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.solicitud.Monto)
                        </dt>
                        <dd>
                            @Html.EditorFor(model => model.solicitud.Monto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.solicitud.Monto, "", new { @class = "text-danger" })
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.solicitud.Sueldo)
                        </dt>
                        <dd>
                            @Html.EditorFor(model => model.solicitud.Sueldo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.solicitud.Sueldo, "", new { @class = "text-danger" })
                        </dd>

                    </dl>
                </div>
                <div class="clearfix"></div>
               
            </div>

            <div class="clearfix" style="height: 10px;"></div>
            <h5>
                Detalles
            </h5>
            <hr />

            <div class="" style="width: 85%; margin-left: auto; margin-right: auto; color: #777; clear:both;">
                <div class="col-md-6 col-sm-6">
                    <dl class="dl-horizontal">
                        <dt style="color: black;">
                            INGRESOS
                        </dt>
                        <dd>
                            &nbsp;
                        </dd>
                        @for (int i = 0; i < Model.EditarIngresos.Count; i++)
                        {
                        <dt>
                            @Html.HiddenFor(p => p.EditarIngresos[i].Nombre)
                            @Html.HiddenFor(p => p.EditarIngresos[i].PropiedadID)
                            @Html.DisplayFor(model => model.EditarIngresos[i].Nombre)
                        </dt>
                        <dd>
                            @Html.EditorForPropiedad(Model.EditarIngresos[i], "EditarIngresos[" + i.ToString() + "]", "EditarIngresos")
                            @Html.ValidationMessageForPropiedad("EditarIngresos[" + i.ToString() + "]")
                        </dd>
                        }

                    </dl>
                </div>
                <div class="col-md-6 col-sm-6">
                    <dl class="dl-horizontal">

                        <dt style="color: black;">
                            DEDUCCIONES
                        </dt>
                        <dd>
                            &nbsp;
                        </dd>
                        @for (int i = 0; i < Model.EditarDeducciones.Count; i++)
                        {
                        <dt>
                            @Html.HiddenFor(p => p.EditarDeducciones[i].Nombre)
                            @Html.HiddenFor(p => p.EditarDeducciones[i].PropiedadID)
                            @Html.DisplayFor(model => model.EditarDeducciones[i].Nombre)
                        </dt>
                        <dd>
                            @Html.EditorForPropiedad(Model.EditarDeducciones[i], "EditarDeducciones[" + i.ToString() + "]", "EditarDeducciones")
                            @Html.ValidationMessageForPropiedad("EditarDeducciones[" + i.ToString() + "]")
                        </dd>}
                    </dl>
                </div>
                <div class="clearfix"></div>
               
            </div>

            <h5>
                Datos Finales
            </h5>
            <hr />
            <div class="row" style="width: 85%; margin-left: auto; margin-right: auto; color: #777; clear:both;">
                <div class="col-md-6 col-sm-6">
                    <dl class="dl-horizontal">
                        @for (int i = 0; i < Model.TotalIngreso.Count; i++)
                        {
                        <dt>
                            @Html.HiddenFor(p => p.TotalIngreso[i].Nombre)
                            @Html.HiddenFor(p => p.TotalIngreso[i].PropiedadID)
                            @Html.DisplayFor(model => model.TotalIngreso[i].Nombre)
                        </dt>
                        <dd>
                            @Html.EditorForPropiedad(Model.TotalIngreso[i], "TotalIngreso[" + i.ToString() + "]")
                            @Html.ValidationMessageForPropiedad("TotalIngreso[" + i.ToString() + "]")
                        </dd>}
                        @for (int i = 0; i < Model.Procesar.Count; i++)
                        {
                        <dt>
                            @Html.HiddenFor(p => p.Procesar[i].Nombre)
                            @Html.HiddenFor(p => p.Procesar[i].PropiedadID)
                            @Html.DisplayFor(model => model.Procesar[i].Nombre)
                        </dt>
                        <dd>
                            @Html.EditorForPropiedad(Model.Procesar[i], "Procesar[" + i.ToString() + "]")
                            @Html.ValidationMessageForPropiedad("Procesar[" + i.ToString() + "]")
                        </dd>}

                    </dl>
                </div>
                <div class="col-md-6 col-sm-6">
                    <dl class="dl-horizontal">
                        @for (int i = 0; i < Model.TotalDeducciones.Count; i++)
                        {
                        <dt>
                            @Html.HiddenFor(p => p.TotalDeducciones[i].Nombre)
                            @Html.HiddenFor(p => p.TotalDeducciones[i].PropiedadID)
                            @Html.DisplayFor(model => model.TotalDeducciones[i].Nombre)
                        </dt>
                        <dd>
                            @Html.EditorForPropiedad(Model.TotalDeducciones[i], "TotalDeducciones[" + i.ToString() + "]")
                            @Html.ValidationMessageForPropiedad("TotalDeducciones[" + i.ToString() + "]")
                        </dd>}
                    </dl>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-actions">
                <button type="submit" value="0" class="btn btn-primary"> Guardar </button>
            </div>
        </form>
    </div>
</div>

@section scripts{

    <style>
        dd input, dd select {
    margin-bottom: 9px;
}
    </style>
   
    <!-- Validacion de MVC -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <!-- Validacion de MVC END -->

    <script src="~/Scripts/number_format.js"></script>
    <script src="~/Scripts/Solicitudes/Create.js"></script>

}
