﻿@model SolicitudEmpleado.Models.DetalleSolicitudViewModel
@using SolicitudEmpleado.Helpers

@{
    ViewBag.Title = "Detalle " + @Model.solicitud.TiposSolicitud.Nombre + " " + @Model.solicitud.Tipos.Nombre;
    int nextTipoPropiedadID = 0;
	int indexTipoPropiedadID = 1;
	int columna = 1;
	int fila = 1;
	bool esTabla = false;
}

<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="titulo">@ViewBag.Title</h3>
    </div>

	<div class="panels">
		@foreach (var item in Model.Procesar)
		{
			if (nextTipoPropiedadID == 0 || nextTipoPropiedadID != item.TipoPropiedadID)
			{
				if (esTabla)
				{
					@Html.Raw("</tbody></table></div>")
					esTabla = false;
				}
				if (nextTipoPropiedadID == 0) 
				{
					@Html.Raw("<div class='active panel-" + @indexTipoPropiedadID + "' data-index='" + @indexTipoPropiedadID + "'>")
				}
				else
				{
					@Html.Raw("</div><div class='panel-" + @indexTipoPropiedadID + "' data-index='" + @indexTipoPropiedadID + "'>")
				}
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h5>
						 @item.TipoPropiedadNombre
					</h5>
					<hr />
				</div>
				if (@item.Columnas.HasValue)
				{
					esTabla = true;
					@Html.Raw("<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'><table class='table table-bordered table-condensed table-striped'><thead><tr>")
				}
				nextTipoPropiedadID = @item.TipoPropiedadID;
				indexTipoPropiedadID++;
				columna = 1;
				fila = 1;
			}				
			
			if (!@item.Columnas.HasValue)
			{
				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
					<div class="form-group">
						<label class="control-label">
							@Html.DisplayFor(modelItem => item.Nombre)
						</label>
						<div>
							@Html.DisplayForPropiedad(item.Valor, item.Tipo)  &nbsp;
						</div>
					</div>
				</div>
			}
			else
			{
				if (fila == 1)
				{
					<td>
						<label class="control-label">
							@Html.DisplayFor(modelItem => item.Nombre)
						</label>
					</td>
					if (columna == item.Columnas)
					{
						@Html.Raw("</tr></thead><tbody>")
					}
				}
				else
				{
					if (columna == 1)
					{
						@Html.Raw("<tr>")
					}
					<td>
						@Html.DisplayForPropiedad(item.Valor, item.Tipo)  &nbsp;
					</td>
					if (columna == item.Columnas)
					{
						@Html.Raw("</tr>")
					}
				}

				if (columna == item.Columnas)
				{
					fila++;
					columna = 0;
				}
				columna++;
			}
		}
		@if (esTabla)
		{
			@Html.Raw("</tbody></table></div>")
			esTabla = false;
		}
		@Html.Raw("</div>")
	</div>

    <div class="fullrow visible-print">

        <div class="container">

            <div class="row-fluid" style="padding-top:50px">
                <div class="span4 offset2">
                    <h5 style="border-top:1px solid;text-align:center;">Código y Firma</h5>
                </div>
                <div class="span4">
                    <h5 style="border-top:1px solid; text-align:center;">Código y Firma</h5>
                </div>
            </div>

        </div>

    </div>
    <div class="no-print">
        @Html.Action("_Comentarios", "Comentarios", new { SolicitudID = Model.solicitud.SolicitudID })
    </div>
    <div class="form-actions">
        <button id="btnImprimir" type="submit" value="Imprimir" class="btn btn-primary"> Imprimir </button>
    </div>

</div>


@section scripts{

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <script>

        $(function () {
            $('#btnImprimir').click(btnImprimir);
        });

        function btnImprimir() {
            window.print();
        }

    </script>
   
}


