﻿@model IEnumerable<SolicitudEmpleado.Data.Estatu>

@{
    ViewBag.Title = "Estados";
}
<div class="row">

    <h3 class="titulo">@ViewBag.Title</h3>
    @Html.Partial("_MensajeError")

    <table class="display">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TiposSolicitud.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Activo)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Accion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TiposSolicitud.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Activo)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Accion)
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                                Accion
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @*
                                Desactivado porque no se necesita.
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Details", "Estatus", new { id=item.EstatusID })')">Detalle</a>
                                </li>
                                <li class="divider"></li>
                                *@
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Edit", "Estatus", new { id=item.EstatusID })')">Editar</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Delete", "Estatus", new { id=item.EstatusID })')">Eliminar</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="form-actions">
        <a href="#" class="btn" onclick="cargarModal('@Url.Action("Create", "Estatus")')">Crear Nuevo Estado</a>
    </div>

</div>

@section scripts{

    @*Datatable BEING*@
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.jqueryui.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    @*Datatable END*@

    <!-- Mi Codigo Data Table -->
    <script src="~/Scripts/myCodeDataTable.js"></script>

}
