﻿@model SolicitudEmpleado.Models.DetalleSolicitudViewModel
@using SolicitudEmpleado.Helpers

@{
    ViewBag.Title = "Detalle del " + @Model.solicitud.TiposSolicitud.Nombre;
}

<div class="row">

    <h3 class="titulo">@ViewBag.Title</h3>
    
    <h5>
        Datos Personales
    </h5>
    <hr />
    <div class="row-fluid" style="
            margin-top: -10px;
            width: 85%;
            margin-left: auto;
            margin-right: auto; color: #777;">

        <div class="span6">
            <dl class="dl-horizontal">

                <dt>
                    @Model.solicitud.TiposSolicitud.Nombre
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.solicitud.Tipos.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.solicitud.Estatu.Nombre)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.solicitud.Estatu.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.solicitud.NombreEmpleado)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.solicitud.NombreEmpleado)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.solicitud.CodigoEmpleado)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.solicitud.CodigoEmpleado)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.solicitud.Empresa.Nombre)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.solicitud.Empresa.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.solicitud.TiempoServicio)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.solicitud.TiempoServicio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.solicitud.Identificacion)
                </dt>
                <dd>
                    @Intranet.Helpers.ClientesHelper.DarFormatoIdentificacion(Model.solicitud.Identificacion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.solicitud.Sueldo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.solicitud.Sueldo)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.solicitud.Cuenta)
                </dt>
                <dd>
                    @Intranet.Helpers.ProductosHelper.DarFormatoProducto(Model.solicitud.Cuenta)  &nbsp;
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.solicitud.Direccion)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.solicitud.Direccion)  &nbsp;
                </dd>

            </dl>
        </div>
        <div class="span6">
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.solicitud.SolicitudID)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.solicitud.SolicitudID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.solicitud.NumeroSolicitud)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.solicitud.NumeroSolicitud) &nbsp;
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.solicitud.FechaSolicitud)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.solicitud.FechaSolicitud) &nbsp;
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.solicitud.TipoEmpleado.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.solicitud.TipoEmpleado.Nombre) &nbsp;
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.solicitud.Posicion)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.solicitud.Posicion) &nbsp;
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.solicitud.Departamento)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.solicitud.Departamento) &nbsp;
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.solicitud.TelefonoOficina)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.solicitud.TelefonoOficina) &nbsp;
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.solicitud.TelefonoCelular)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.solicitud.TelefonoCelular) &nbsp;
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.solicitud.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.solicitud.Email)  &nbsp;
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.solicitud.Monto)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.solicitud.Monto)  &nbsp;
                </dd>
            </dl>
        </div>

    </div>

    <h5>
        Datos De @Model.solicitud.TiposSolicitud.Nombre
    </h5>
    <hr />
    <div style="
            width: 90%;
            margin-left: auto;
            margin-right: auto; color: #777; clear:both;">

        <div class="row" style="float:left; width: 50%; line-height: 25px; ">
            <div class="column column-6 bold">
                @Html.DisplayNameFor(model => model.solicitud.Monto)
            </div>
            <div class="column column-6">
                @Html.DisplayFor(model => model.solicitud.Monto)  &nbsp;
            </div>
        </div>

        <div class="row" style="float:left; width: 50%; line-height: 25px; ">
            <div class="column column-6 bold">
                @Html.DisplayNameFor(model => model.solicitud.MontoAprobado)
            </div>
            <div class="column column-6">
                @Html.DisplayFor(model => model.solicitud.MontoAprobado)  &nbsp;
            </div>
        </div>

        @foreach (var item in Model.Detalle)
            {

            <div class="row" style="float:left; width: 50%; line-height: 25px; ">
                <div class="column column-6 bold">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </div>
                <div class="column column-6">
                    @Html.DisplayForPropiedad(item.Valor, item.Tipo)  &nbsp;
                </div>
            </div>

            }
        <div style="clear:both;"></div>
    </div>

    @if (Model.ExisteDisponibilidadCargada)
    {
        <h5>
            Datos De Disponibilidad
        </h5>
        <hr />
        <div class="row-fluid" style="width: 85%; margin-left: auto; margin-right: auto; color: #777; clear:both;">
            <div class="span6">
                <dl class="dl-horizontal">
                    @foreach (var item in Model.TotalIngreso)
                    {
                    <dt>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </dt>
                    <dd>
                        @Html.DisplayForPropiedad(item.Valor, item.Tipo)  &nbsp;
                    </dd>
                    }
                    @foreach (var item in Model.Procesar)
                    {
                    <dt>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </dt>
                    <dd>
                        @Html.DisplayForPropiedad(item.Valor, item.Tipo)  &nbsp;
                    </dd>
                    }

                </dl>
            </div>
            <div class="span6">
                <dl class="dl-horizontal">
                    @foreach (var item in Model.TotalDeducciones)
                    {
                    <dt>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </dt>
                    <dd>
                        @Html.DisplayForPropiedad(item.Valor, item.Tipo)  &nbsp;
                    </dd>
                    }
                </dl>
            </div>
        </div>
    }

    <div class="fullrow visible-print">

        <div class="container">

            <div class="row-fluid" style="padding-top:50px">
                <div class="span4 offset2">
                    <h5 style="border-top:1px solid;text-align:center;">Código y Firma</h5>
                </div>
                <div class="span4">
                    <h5 style="border-top:1px solid; text-align:center;">Código y Firma</h5>
                </div>
            </div>

        </div>

    </div>

    <div class="no-print">
        @Html.Action("_Comentarios", "Comentarios", new { SolicitudID = Model.solicitud.SolicitudID })
    </div>
    <div class="form-actions">
        <button id="btnImprimir" type="submit" value="Imprimir" class="btn"> Imprimir </button>
    </div>


</div>


@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>

        $(function () {
            $('#btnImprimir').click(btnImprimir);
        });
        
        function btnImprimir() {
            window.print();
        }

    </script>
    @*
        <script>
            $(document).ready(function () {
                $(".table thead").click(function () {
                    $(".table tbody").slideToggle("slow");
                });
            });
        </script>
    *@
}


