﻿@model IEnumerable<dynamic>
@using SolicitudEmpleado.Helpers

<div class="row">

    <h3 class="titulo">@ViewBag.Title</h3>
    @Html.Partial("_MensajeError")
    <div style="height: 85px;">
        <form class="table-update-trigger">

            <div class="column column-3">
                <label class="title">Tipo de Préstamo</label>
                <div class="col-md-10">
                    @Html.DropDownList("TipoID", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="column column-3">
                <label class="title">Empresa</label>
                <div class="col-md-10">
                    @Html.DropDownList("EmpresaID", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="column column-3">
                <label class="title">Estado</label>
                <div class="col-md-10">
                    @Html.DropDownList("EstatusID", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            @if (ViewBag.ViewType != @stViewType.MisSolicitudes)
            {
                <div class="column column-2">
                    <label class="title">Asignado A</label>
                    <div class="col-md-10">
                        @Html.DropDownList("Asignado", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            }

        </form>

    </div>

    <div id="divContenedorSolicitudes"
         data-url="@Url.Action("","Solicitudes")"
         data-viewtype="@ViewBag.ViewType"
         data-supervisor="@ViewBag.Supervisor">
    </div>
</div>

<br />

@section scripts{

    @{
        //Para Usar un Tema de JQuery UI

        //var jQueryStyle = "flick/jquery-ui.flick.min.css";
        //var jQueryStyle = "smoothness/jquery-ui.smoothness.min.css";
        var jQueryStyle = "custom-theme/jquery-ui-1.10.3.custom.css";
        if (!string.IsNullOrEmpty(Request["jQueryStyle"]))
        {
            jQueryStyle = Request["jQueryStyle"];
        }

        //var jTableStyle = "lightcolor/gray/jtable.css";
        var jTableStyle = "jqueryui/jtable_jqueryui.css";
        //var jTableStyle = "metro/lightgray/jtable.min.css";
        if (!string.IsNullOrEmpty(Request["jTableStyle"]))
        {
            jTableStyle = Request["jTableStyle"];
        }

    }

    <!-- JTable Control BEGIN -->
    <link href="@Url.Content("~/Content/themes/" + jQueryStyle)" rel="stylesheet" type="text/css" /> @*//Para Usar un Tema de JQuery UI*@
    <link href="@Url.Content("~/Scripts/jtable/themes/" + jTableStyle)" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jtable/jquery.jtable.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jtable/localization/jquery.jtable.es.js")"></script>
    <!-- JTable Control END -->
    <!-- Mi Codigo -->
    <script src="~/Scripts/number_format.js"></script>
    <script src="~/Scripts/Solicitudes/Index.js"></script>

}