﻿<div class="navbar navbar-cuerpo navbar-default">
    <div class="container">
        <div class="container">

            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar btn-default" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <!-- Be sure to leave the brand out there if you want it shown
            <a class="brand" href="#">Project name</a>-->
            <!-- Everything you want hidden at 940px or less, place within here -->

            <div class="collapse navbar-collapse">
                <!-- .nav, .navbar-search, .navbar-form, etc -->
                <ul class="nav navbar-nav">
                    <li class="disabled"><a href="/Home/Layoutmodelv2"><i class="icon-stop"></i> Step 1 </a></li>
                    <li class="active"><a href="/Home/Layoutmodelv2"><i class="icon-arrow-right"></i> Step 2 </a></li>
                    <li class="disabled"><a href="/Home/Layoutmodelv2"><i class="icon-arrow-right"></i> Step 3 </a></li>
                    <li class="disabled"><a href="/Home/Layoutmodelv2"><i class="icon-ok"></i> Final </a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"> </i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Acciones</li>
                            <li><a href="#">Editar</a></li>
                            <li><a href="#">Eliminar</a></li>
                            <li><a href="#">No hagas nada</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>