﻿@model SolicitudEmpleado.Data.MatrizEstado

@{
    ViewBag.Title = "Nuevo Matriz Estados";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="titulo">@ViewBag.Title</h3>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.EstatusActualID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("EstatusActualID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EstatusActualID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EsSupervisor, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                       
                            @Html.EditorFor(model => model.EsSupervisor)
                            @Html.ValidationMessageFor(model => model.EsSupervisor, "", new { @class = "text-danger" })
                       
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EstatusPuedePasarID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("EstatusPuedePasarID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EstatusPuedePasarID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-actions col-md-offset-2">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>

            </div>
        }
    </div>
</div>

@if (Request.IsAjaxRequest())
{
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}
else
{
    @section scripts {
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    }
}

