﻿@model SolicitudEmpleado.Data.ReferenciaEikon

@{
    ViewBag.Title = "Eliminar Referencia Eikon";
}

<div class="row">

<h3 class="titulo">@ViewBag.Title</h3>

<h5>Esta seguro que desea eliminar este registro?</h5> @Html.ValidationSummary(true, "", new { @class = "alert alert-error" })
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.ReferenciaEikonId, htmlAttributes: new { @class = "control-label title" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenciaEikonId)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label title" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions">
            <input type="submit" value="Eliminar" class="btn" /> 
        </div>
    }
</div>
</div>
