﻿@model SolicitudEmpleado.Data.ReferenciaEikon

@{
    ViewBag.Title = "Detalles Referencia Eikon";
}

<div class="row">

<h3 class="titulo">@ViewBag.Title</h3>

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.ReferenciaEikonId, htmlAttributes: new { @class = "control-label title" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenciaEikonId)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label title" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
</div>

</div>
