﻿@model SolicitudEmpleado.Data.ReferenciaEikon

@{
    ViewBag.Title = "Editar Referencia Eikon";
}

<div class="row">

<h3 class="titulo">@ViewBag.Title</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="">

        @Html.ValidationSummary(true, "", new { @class = "alert alert-error" })
        <div class="form-group">
            @Html.LabelFor(model => model.ReferenciaEikonId, htmlAttributes: new { @class = "control-label title" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReferenciaEikonId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReferenciaEikonId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label title" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-actions">
                <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
}

</div>

@if (Request.IsAjaxRequest())
{
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}
else
{
    @section scripts {
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    }
}
