﻿@model SolicitudEmpleado.PadronData.CEDULAS

@{
    ViewBag.Title = "Detalles Cedula";
}

<div class="row">
    <div class="col-md-12">
<h3 class="titulo">@ViewBag.Title</h3>

    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.CEDULA_NUEVA, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEDULA_NUEVA)
        </dd>

        <dt>
            @Html.LabelFor(model => model.MUN_CED, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MUN_CED)
        </dd>

        <dt>
            @Html.LabelFor(model => model.SEQ_CED, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEQ_CED)
        </dd>

        <dt>
            @Html.LabelFor(model => model.VER_CED, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VER_CED)
        </dd>

        <dt>
            @Html.LabelFor(model => model.CEDULA_ANTERIOR, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEDULA_ANTERIOR)
        </dd>

        <dt>
            @Html.LabelFor(model => model.CED_A_NUM, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CED_A_NUM)
        </dd>

        <dt>
            @Html.LabelFor(model => model.CED_A_SERI, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CED_A_SERI)
        </dd>

        <dt>
            @Html.LabelFor(model => model.SEXO_ANTERIOR, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEXO_ANTERIOR)
        </dd>

        <dt>
            @Html.LabelFor(model => model.NOMBRES, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRES)
        </dd>

        <dt>
            @Html.LabelFor(model => model.APELLIDOS, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDOS)
        </dd>

        <dt>
            @Html.LabelFor(model => model.FECHA_NAC, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_NAC)
        </dd>

        <dt>
            @Html.LabelFor(model => model.LUGAR_NAC, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LUGAR_NAC)
        </dd>

        <dt>
            @Html.LabelFor(model => model.SEXO_ACTUAL, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEXO_ACTUAL)
        </dd>

        <dt>
            @Html.LabelFor(model => model.DESC_SEXO, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC_SEXO)
        </dd>

        <dt>
            @Html.LabelFor(model => model.COD_SANGRE, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_SANGRE)
        </dd>

        <dt>
            @Html.LabelFor(model => model.DESC_SANGRE, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC_SANGRE)
        </dd>

        <dt>
            @Html.LabelFor(model => model.COD_PIEL, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_PIEL)
        </dd>

        <dt>
            @Html.LabelFor(model => model.DESC_PIEL, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC_PIEL)
        </dd>

        <dt>
            @Html.LabelFor(model => model.ESTADO_CIVIL_NUEVO, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO_CIVIL_NUEVO)
        </dd>

        <dt>
            @Html.LabelFor(model => model.DESC_ESTADO_CIVIL_NUEVO, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC_ESTADO_CIVIL_NUEVO)
        </dd>

        <dt>
            @Html.LabelFor(model => model.SENAS_PARTICULARES, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SENAS_PARTICULARES)
        </dd>

        <dt>
            @Html.LabelFor(model => model.COD_OCUP, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_OCUP)
        </dd>

        <dt>
            @Html.LabelFor(model => model.OCUPACION, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OCUPACION)
        </dd>

        <dt>
            @Html.LabelFor(model => model.PROVINCIA, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVINCIA)
        </dd>

        <dt>
            @Html.LabelFor(model => model.COD_MUNICIPIO, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_MUNICIPIO)
        </dd>

        <dt>
            @Html.LabelFor(model => model.DESC_MUNICIPIO, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC_MUNICIPIO)
        </dd>

        <dt>
            @Html.LabelFor(model => model.CODIGO_CIUDAD, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODIGO_CIUDAD)
        </dd>

        <dt>
            @Html.LabelFor(model => model.DESC_CIUDAD, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC_CIUDAD)
        </dd>

        <dt>
            @Html.LabelFor(model => model.CODIGO_SECTOR, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODIGO_SECTOR)
        </dd>

        <dt>
            @Html.LabelFor(model => model.SECTOR, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SECTOR)
        </dd>

        <dt>
            @Html.LabelFor(model => model.CALLE, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CALLE)
        </dd>

        <dt>
            @Html.LabelFor(model => model.NUMERO, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERO)
        </dd>

        <dt>
            @Html.LabelFor(model => model.EDIFICIO, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDIFICIO)
        </dd>

        <dt>
            @Html.LabelFor(model => model.PISO, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PISO)
        </dd>

        <dt>
            @Html.LabelFor(model => model.APARTAMENTO, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APARTAMENTO)
        </dd>

        <dt>
            @Html.LabelFor(model => model.TELEFONO, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.LabelFor(model => model.NOMBRE_PADRE, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_PADRE)
        </dd>

        <dt>
            @Html.LabelFor(model => model.CEDULA_PADRE, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEDULA_PADRE)
        </dd>

        <dt>
            @Html.LabelFor(model => model.NOMBRE_MADRE, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_MADRE)
        </dd>

        <dt>
            @Html.LabelFor(model => model.CEDULA_MADRE, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEDULA_MADRE)
        </dd>

        <dt>
            @Html.LabelFor(model => model.NOMBRE_CONYUGUE, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_CONYUGUE)
        </dd>

        <dt>
            @Html.LabelFor(model => model.CED_CONYUGUE, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CED_CONYUGUE)
        </dd>

        <dt>
            @Html.LabelFor(model => model.COD_NACION, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_NACION)
        </dd>

        <dt>
            @Html.LabelFor(model => model.DESC_NACIONALIDAD, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC_NACIONALIDAD)
        </dd>

        <dt>
            @Html.LabelFor(model => model.NO_PASAPORTE, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NO_PASAPORTE)
        </dd>

        <dt>
            @Html.LabelFor(model => model.NO_RESIDENCIA, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NO_RESIDENCIA)
        </dd>

        <dt>
            @Html.LabelFor(model => model.FECHA_EXPEDICION, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_EXPEDICION)
        </dd>

        <dt>
            @Html.LabelFor(model => model.FECHA_NATURALIZACION, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_NATURALIZACION)
        </dd>

        <dt>
            @Html.LabelFor(model => model.COD_CATEGORIA, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_CATEGORIA)
        </dd>

        <dt>
            @Html.LabelFor(model => model.DESC_CATEGORIA, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC_CATEGORIA)
        </dd>

        <dt>
            @Html.LabelFor(model => model.TIPO_CAUSA, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_CAUSA)
        </dd>

        <dt>
            @Html.LabelFor(model => model.DESC_TIPO_CAUSA, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC_TIPO_CAUSA)
        </dd>

        <dt>
            @Html.LabelFor(model => model.COD_CAUSA, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_CAUSA)
        </dd>

        <dt>
            @Html.LabelFor(model => model.DESC_CAUSA, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC_CAUSA)
        </dd>

        <dt>
            @Html.LabelFor(model => model.STATUS, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.LabelFor(model => model.DIRECTORIO, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECTORIO)
        </dd>

        <dt>
            @Html.LabelFor(model => model.ARCHIVO, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARCHIVO)
        </dd>

        <dt>
            @Html.LabelFor(model => model.SECUENCIA, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SECUENCIA)
        </dd>

        <dt>
            @Html.LabelFor(model => model.FECHA_CREO, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_CREO)
        </dd>

        <dt>
            @Html.LabelFor(model => model.USUARIO_CREO, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO_CREO)
        </dd>

    </dl>
</div>

</div>
