﻿@model IEnumerable<SolicitudEmpleado.PadronData.CEDULAS>

@{
    ViewBag.Title = "Consulta de Padron Cedulas";
}
<div class="row">
    <div class="col-md-12">
<h3 class="titulo">@ViewBag.Title</h3>
@Html.Partial("_MensajeError")

        <div style="height: 85px;">
            <form>
                <div class="row">
                    <div class="col-md-3">
                        <label class="title">Nombre o Cédula</label>
                        <div class="">
                            <input type="text" name="nombreCedula" class="form-control" id="nombreCedula" value="@ViewBag.id" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="title">Apellidos</label>
                        <div class="">
                            <input type="text" name="apellido" class="form-control" id="apellido" value="@ViewBag.q" />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" id="btnBuscar" style="margin-top: 24px;width:50px;">
                        <i class="icon-search"></i>
                    </button>

                </div>

            </form>

        </div>

<table class="display table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CEDULA_NUEVA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_NAC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LUGAR_NAC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEXO_ACTUAL)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.CEDULA_NUEVA == null)
            {
                <a href="#" onclick="cargarModal('@Url.Action("Details", "CEDULAS", new { id = item.CEDULA_NUEVA })')">Detalle</a>
            }
            else
            {
                <a href="#" onclick="cargarModal('@Url.Action("Details", "CEDULAS", new { id = item.CEDULA_NUEVA })')"> @item.CEDULA_NUEVA </a>
            }
           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_NAC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LUGAR_NAC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEXO_ACTUAL)
        </td>
        <td>
             <div class="btn-group">
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                    Accion
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" onclick="cargarModal('@Url.Action("Details", "CEDULAS", new { id = item.CEDULA_NUEVA })')">Detalle</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
}
    </tbody>
    </table>

   </div>
</div>

@section scripts{
    <script> var urlHost = "@Url.Action("", "Disponibilidad")";</script>
    @*Datatable BEING*@
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.jqueryui.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    @*Datatable END*@

    <!-- Mi Codigo Data Table -->
    <script src="~/Scripts/myCodeDataTable.js"></script>
    <script src="~/Scripts/Cedulas/Index.js"></script>


}
