﻿@model SolicitudEmpleado.Models.NuevaNotificacionViewModel

@{
    ViewBag.Title = "Nueva Notificacion";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="titulo">@ViewBag.Title</h3>
        @Html.Partial("_MensajeError")
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.SolicitudId)

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

                <div class="form-group">
                    <label class="control-label col-md-2" for="TipoNotificacion">Tipo</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.TipoNotificacion, ViewBag.ListaTipoNotificacion as SelectList , new { @class = "form-control"})
                        @Html.ValidationMessageFor(model => model.TipoNotificacion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Mensaje, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Mensaje, new { htmlAttributes = new { @class = "form-control", @style = " margin: 0px; height: 200px;" } })
                        @Html.ValidationMessageFor(model => model.Mensaje, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-actions">

                    <button type="submit" class="btn btn-primary">
                        Enviar
                    </button>

                </div>
            </div>
        }

    </div>
</div>

@if (Request.IsAjaxRequest())
{
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}
else
{
    @section scripts {
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    }
}