﻿@model SeguridadComun.Usuario

@{    
  bool? avanzadas = ViewBag.OpcionesAvanzadas as bool?;
  string grupo = ViewBag.GrupoUsuario as string;
  string oficina = ViewBag.Oficina as string;
}
<div class="row">
    <h3 class="titulo">Información de Usuario</h3>
    <dl style="margin-top: -10px;">
        <dt>Nombre</dt>
        <dd>@Model.nombreCompleto</dd>
        <dt>C&oacute;digo</dt>
        <dd>@Model.codigoEmpleado (@Model.buscarEmpresa())</dd>
        <dt>Correo</dt>
        <dd><a href="mailto:@Model.correo">@Model.correo.ToLower()</a></dd>
        <dt>Oficina</dt>
        <dd>
            @(String.IsNullOrEmpty(oficina) ? "No disponible" : oficina)
            (@Html.ActionLink(String.IsNullOrEmpty(Model.codOficina) ? "No disponible" : Model.codOficina, "Oficina", "Seguridad", new { id = Model.codOficina }, null))
        </dd>
        <dt>Puesto</dt>
        <dd>@Model.puesto</dd>
        <dt>Ubicaci&oacute;n</dt>
        <dd>@Model.departamento</dd>
        <dt>Tel&eacute;fono</dt>
        <dd>@Model.telefonoForm</dd>
        <dt>Extensi&oacute;n</dt>
        <dd>@Model.ext</dd>
        <dt>M&oacute;vil</dt>
        <dd>@Model.celularForm</dd>
    </dl>

    @if (avanzadas.GetValueOrDefault())
    {
        <div class="span6">
            <dl class="row">
                <dt>Usuario de Red</dt>
                <dd>@User.Identity.Name.ToLower()</dd>
                <dt>Estado</dt>
                <dd>@(Model.activo ? "Activo" : "Inactivo")</dd>
                <dt>Grupo</dt>
                <dd>@grupo</dd>
                <dt>Direcci&oacute;n IP</dt>
                <dd>@Request.UserHostAddress</dd>
                <dt>Explorador Web</dt>
                <dd>@Request.Browser.Browser @Request.Browser.Version</dd>
                <dt>Servidor</dt>
                <dd>@Server.MachineName</dd>
            </dl>
        </div>
    }
</div>