﻿@model SolicitudEmpleado.MVC.WebReferences.Oficinas.Oficina

<div class="row">
  <h3 class="titulo">@Model.Descripcion</h3>
  <dl>
    <dt>Correo</dt>
    <dd><a href="mailto:@Model.Correo1">@Model.Correo1</a></dd>
    <dt>Tel&eacute;fono(s)</dt>
    <dd>@Model.Telefono1 / @Model.Telefono2</dd>
    <dt>Direcci&oacute;n</dt>
    <dd>@Model.Direccion</dd>
    <dt>Localidad</dt>
    <dd>@Model.Localidad.Nombre (@Model.Provincia.Nombre)</dd>
    @if (Model.RegionNegocios != null) {
      <dt>Regi&oacute;n de Negocios</dt>
      <dd>@Model.RegionNegocios.Descripcion</dd>
    }
  </dl>
  <button class="btn" onclick="history.go(-1)">Regresar</button>
</div>