﻿@model SolicitudEmpleado.Data.TransaccionesDisponiblidad

@{
    ViewBag.Title = "Detalles Transacciones Disponiblidad";
}

<div class="row">

    <div class="col-md-12">
        <h3 class="titulo">@ViewBag.Title</h3>


        <dl class="dl-horizontal">
            <dt>
                @Html.LabelFor(model => model.Propiedad, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Propiedad.Nombre)
            </dd>

            <dt>
                @Html.LabelFor(model => model.ReferenciaEikon, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReferenciaEikon.Nombre)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Codigo)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

        </dl>
    </div>

</div>
