﻿@model SolicitudEmpleado.Data.MatrizEstado

@{
    ViewBag.Title = "Nuevo Matriz Estados";
}

<div class="row">

<h3 class="titulo">@ViewBag.Title</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="">
       
        @Html.ValidationSummary(true, "", new { @class = "alert alert-error" })
        <div class="form-group">
            @Html.LabelFor(model => model.EstatusActualID, htmlAttributes: new { @class = "control-label title" })
            <div class="col-md-10">
                @Html.DropDownList("EstatusActualID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EstatusActualID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EsSupervisor, htmlAttributes: new { @class = "control-label title" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.EsSupervisor)
                    @Html.ValidationMessageFor(model => model.EsSupervisor, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EstatusPuedePasarID, htmlAttributes: new { @class = "control-label title" })
            <div class="col-md-10">
                @Html.DropDownList("EstatusPuedePasarID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EstatusPuedePasarID, "", new { @class = "text-danger" })
            </div>
        </div>
                
        <div class="form-actions">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>

    </div>
}

</div>

@if (Request.IsAjaxRequest())
{
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}
else
{
    @section scripts {
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    }
}

