﻿
/* Estilos personalizados de la aplicacion */
/*#1995dc #317eac #317eac*/
.form-group input {
    /*margin-bottom: 5px !important;*/
}

span.select2.select2-container.select2-container--bootstrap {
    width: 100% !Important;
}

hr {
    border-top: 1px solid #afc5d2 !important;
}

.modal-dialog .form-horizontal {
    /*margin-left: 10px;*/
}
.modal-footer {
    margin-bottom: -15px;
     margin-left: -15px; 
     margin-right: -15px; 
     margin-top: 15px; 
}

.form-actions {
    float: right;
	padding-top: 10px;
	padding-bottom: 10px;
}

div#idnavbar1 {
    /* padding-left: 0px; */
    padding-right: 0px;
    margin-left: -20px !important;
    margin-right: -20px !important;
}

input#q {
    margin-right: 10px;
}

.text-center a.btn-primary {
    width: 19%;
    height: 50px;
    padding-top: 13px;
}

.form-horizontal .control-label {
    text-align: left;
}

.field-validation-error {
    font-weight: normal !important;
}

/*tr.jtable-data-row td:nth-child(7) .popover.top {
    margin-top:inherit;
     margin-top:-20px !important;
}

tr.jtable-data-row td:nth-child(7) a {
    height:50px;
    width:50px;
    margin-top:-20px !important;
}*/

/* jTable */
.jtable-column-header-text {
}

/* Tabla-Limit text length within cell */

table.jtable td {
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}

@media print {
    .no-print {
        display: none;
    }
    .btn {
        display: none;
    }
    .wrapper_header, .wrapper_menu, .wrapper_footer {
        display: none;
    }
}

@media screen, projection, tv {
 .visible-print {
    display:none
  }
}

/*------------------------------*\
    Grid System
\*------------------------------*/

#divComentarios textarea{
    width:98%;
}

.field-validation-error {
    font-weight:bold;
    text-align: center;
}

.form-group {
    /*padding-bottom:15px;*/
}
.form-group input {
    /*width: 170px;*/
}
.column select, .column input{
    /*width: 170px;*/
}
   
.form-group select {
    /*width: 184px;*/
}
.form-group .control-label {
    padding-right:5px;
}

.region{
    padding-bottom: 15px;
}
.row, 
.column {
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.column {
    position: relative;
    float: left;
    display: block;
}

.column-1 {
    width: 6.86666666667%;
}

.column-2 {
    width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-5 {
    width: 40.7333333333%;
}

.column-6 {
    width: 49.2%;
}

.column-7 {
    width: 57.6666666667%;
}

.column-8 {
    width: 66.1333333333%;
}

.column-9 {
    width: 74.6%;
}

.column-10 {
    width: 83.0666666667%;
}

.column-11 {
    width: 91.5333333333%;
}

.column-12 {
    width: 100%;
    margin-left: 0;
}

@media only screen and (max-width: 550px) {
    .column-1, 
    .column-2, 
    .column-3, 
    .column-4, 
    .column-5, 
    .column-6, 
    .column-7, 
    .column-8, 
    .column-9, 
    .column-10, 
    .column-11, 
    .column-12 {
        float: none;
        width: auto;
    }
  
    .column + .column {
        margin-left: 0;
    }
}

/*------------------------------*\
    Styling
\*------------------------------*/

.bold {
    font-weight: bold;
    text-align: right;
    margin-right: 5px;
   
}

