﻿@model SolicitudEmpleado.Models.DetalleDocumentosViewModel
@using SolicitudEmpleado.Helpers

@{
    ViewBag.Title = "Lista de Documentos Pendientes";
}

<div class="row">

    <h3 class="titulo">@ViewBag.Title</h3>

    @using (Html.BeginForm("Detalle", "Documentos", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SolicitudId)

        <div class="row-fluid" style="width: 85%; margin-left: auto; margin-right: auto; color: #777; clear:both;">
        
            <div class="span12">

                <dl class="dl-horizontal">

                    @for (int i = 0; i < Model.Documentos.Count; i++)
                    {
                        <dt style="width: 20px;">
                            @Html.EditorForPropiedad(Model.Documentos[i], "Documentos[" + i.ToString() + "]")
                            @Html.HiddenFor(p => p.Documentos[i].Nombre)
                            @Html.HiddenFor(p => p.Documentos[i].PropiedadID)
                        </dt>
                        <dd style="margin-left: 25px;">
                            <strong>@Html.DisplayFor(model => model.Documentos[i].Nombre)</strong>
                            @Html.ValidationMessageForPropiedad("Documentos[" + i.ToString() + "]")
                            <br />
                            @Html.DisplayFor(model => model.Documentos[i].Descripcion)
                        </dd>
                    }
                </dl>

            </div>

        </div>
        <div class="form-actions">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    }
</div>

@section scripts{

    <!-- Validacion de MVC Opcion 1-->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!-- Validacion de MVC END -->
}
