﻿@model IEnumerable<SolicitudEmpleado.Data.Tipo>

@{
    ViewBag.Title = "Sub Tipos de Solicitud";
}
<div class="row">
    <div class="col-md-12">

        <h3 class="titulo">@ViewBag.Title</h3>

        <table class="display table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TiposSolicitud.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Activo)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TiposSolicitud.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Activo)
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                                    Accion
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" onclick="cargarModal('@Url.Action("Details", "Tipos", new { id=item.TipoID })')">Detalle</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#" onclick="cargarModal('@Url.Action("Edit", "Tipos", new { id=item.TipoID })')">Editar</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#" onclick="cargarModal('@Url.Action("Delete", "Tipos", new { id=item.TipoID })')">Eliminar</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <a href="@Url.Action("Index", "TiposPropiedads", new { id1 = item.TipoID, id2 = 1 })" class="btn btn-primary">Propiedades</a>
                        </td>

                    </tr>}
            </tbody>
        </table>

        <div class="form-actions">
            <a href="#" class="btn btn-primary" onclick="cargarModal('@Url.Action("Create", "Tipos")')">Crear Nuevo Tipo</a>
        </div>
    </div>
</div>

@section scripts{

    @*Datatable BEING*@
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.jqueryui.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    @*Datatable END*@

    <!-- Mi Codigo Data Table -->
    <script src="~/Scripts/myCodeDataTable.js"></script>

}
