﻿@model SolicitudEmpleado.Data.Estatu

@{
    ViewBag.Title = "Eliminar Estado";
}

<div class="row">
    <div class="col-md-12">
    <h3 class="titulo">@ViewBag.Title</h3>

        <h5>Esta seguro que desea eliminar este registro?</h5>
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.LabelFor(model => model.TiposSolicitud, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TiposSolicitud.Nombre)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Activo)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.EnviarCorreo, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EnviarCorreo)
                </dd>


                <dt>
                    @Html.LabelFor(model => model.Accion, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Accion)
                </dd>

            </dl>

            @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="form-actions col-md-offset-2">
        <input type="submit" value="Eliminar" class="btn btn-primary" />
    </div>
    }
        </div>
    </div>
</div>
