﻿@model SolicitudEmpleado.Models.ComentarioViewModel

@Html.HiddenFor(m => m.intSolicitudID)

<dl>
    <dt>
        Comentario:
    </dt>
    <dd>
        @Html.EditorFor(m => m.strValor)
    </dd>
    <dt>
      
    </dt>
</dl>
<div class="form-actions" style="margin-top: -20px;"><button type="submit" class="btn btn-primary"> Agregar Comentario </button></div>
<div class="clearfix"></div>
