﻿@model SolicitudEmpleado.Models.ComentarioViewModel

@Html.HiddenFor(m => m.intSolicitudID)

<dl>
    <dt>
        Comentario:
    </dt>
    <dd>
        @Html.EditorFor(m => m.strValor)
    </dd>
    <dt>
        <button type="submit" class="btn"> Agregar Comentario </button>
    </dt>
</dl>
