﻿@model IEnumerable<SolicitudEmpleado.Data.Historial>

<div id="divComentarios">
    @if (Model.Count() > 0)
    {
        <h5>
            Datos De Historial
        </h5>
        <hr />

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Evento
                    </th>
                    <th>
                        Usuario
                    </th>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Comentario
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (SolicitudEmpleado.Data.Historial value in Model)
                {
                    <tr>
                        <td>
                            <a href="#" onclick="cargarModal('@Url.Action("Detalle", "Historial", new { id = value.HistorialID })')">
                                @value.Estatu.Nombre
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => value.CreadoPorUsuarioDeRed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => value.FechaCreacion)
                        </td>
                        <td>
                            @if (String.IsNullOrEmpty(value.Comentario))
                            {
                                <span>N/A</span>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => value.Comentario)
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @using (Ajax.BeginForm("_ComentarioInsert", "Comentarios", new AjaxOptions() { UpdateTargetId = "divComentarios" }))
    {
        @Html.AntiForgeryToken()
        @Html.Action("_AgregarComentario", "Comentarios", new { SolicitudID = ViewBag.SolicitudID })
    }

</div>





