﻿@model Nullable<System.Boolean>
@{
    if(Model != null && Convert.ToBoolean(Model))
    {                  
        <input style="width:30px;" checked="checked" class="check-box form-control" disabled="disabled" type="checkbox">
    }
    else
    {
        <input style="width:30px;" class="check-box form-control" disabled="disabled" type="checkbox">
    }

}  
