﻿@model SolicitudEmpleado.Models.UsuariosRolesViewModel

@{
    ViewBag.Title = "Roles del Usuario " + Model.UserName;
}

<div class="row">

    <div class="col-md-12">

        <h3 class="titulo">@ViewBag.Title</h3>

        <dl class="dl-horizontal">

            <dt>
                <label class="control-label col-md-2" for="idUsuario">Id</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.idUsuario)
            </dd>

            <dt>
                <label class="control-label col-md-2" for="apellido">Apellido</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.apellido)
            </dd>

            <dt>
                <label class="control-label col-md-2" for="nombre">Nombre</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>

        </dl>

    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="titulo">Roles</h3>

        @Html.Partial("_MensajeError")

        <table class="display table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <td>

                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Listado)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RolName)
                        </td>
                        <td>
                            <a href="@Url.Action("EliminarRoles", "Usuarios", new { id = Model.UserId, rolesId = item.RolId })" class="btn btn-primary">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="form-actions">
            <a href="#" class="btn btn-primary" onclick="cargarModal('@Url.Action("AgregarRoles", "Usuarios", new { id = Model.UserId })')">Añadir al Rol</a>
        </div>

    </div>
</div>

@section scripts{

    @*Datatable BEING*@
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.jqueryui.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    @*Datatable END*@

    <!-- Mi Codigo Data Table -->
    <script src="~/Scripts/myCodeDataTable.js"></script>

}
