﻿@model SolicitudEmpleado.Models.RolesAccesosListadoViewModel

@{
    ViewBag.Title = "Añadir Acceso";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="titulo">@ViewBag.Title</h3>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(p => p.RoleId)
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

                <div class="form-group">
                    <label class="control-label col-md-2" for="idAcceso">Acceso</label>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.idAcceso, ViewBag.idAcceso as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.idAcceso, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </div>
        }

    </div>
</div>

@if (Request.IsAjaxRequest())
{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}
else
{
    @section scripts {
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    }
}
