﻿@model SolicitudEmpleado.Data.Historial
@using SolicitudEmpleado.Helpers

@{
    ViewBag.Title = "Detalle Historial de Solicitud " + Model.SolicitudID.ToString();
}
<div class="row">

    <h3 class="titulo">@ViewBag.Title</h3>

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.SolicitudID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SolicitudID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            Evento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estatu.Accion)
        </dd>

        @if (!String.IsNullOrEmpty(Model.Comentario))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Comentario)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Comentario)
            </dd>
        }
      
    </dl>

    @if (Model.HistorialPropiedades.Any())
    {
        <table class="table" style="margin-bottom:-20px;">
            <tr>
                <th>
                    @*Nombre*@
                </th>
                <th>
                    @*Valor*@
                </th>

            </tr>

            @foreach (var item in Model.HistorialPropiedades)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Propiedade.Nombre)
                    </td>
                    <td>
                        @Html.DisplayForPropiedad(item.Valor,item.Propiedade.Tipo)
                    </td>
                </tr>
            }

        </table>

    }

</div>

