﻿
@{
    ViewBag.Title = "Consulta de Disponiblidad";
}

<div class="row">

    <div class="col-md-12">

        <h3 class="titulo">@ViewBag.Title</h3>

        <div style="height: 85px;">
            <form>
                <div class="row">
                    <div class="col-md-3">
                        <label class="title">Código o Cédula</label>
                        <div class="">
                            <input type="text" name="codigoEmpleado" class="form-control" id="codigoEmpleado" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="title">Empresa</label>
                        <div class="">
                            @Html.DropDownList("EmpresaID", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary" id="btnBuscar" style="margin-top: 24px;width:50px;">
                        <i class="icon-search"></i>
                    </button>

                </div>
               
            </form>

        </div>

        <div id="divContenedorDisponiblidad"
             data-url="@Url.Action("", "Disponibilidad")">
        </div>
    </div>
</div>

@section scripts{

    @{
       
        var jQueryStyle = "custom-theme/jquery-ui-1.10.3.custom.css";
        if (!string.IsNullOrEmpty(Request["jQueryStyle"]))
        {
            jQueryStyle = Request["jQueryStyle"];
        }

        var jTableStyle = "jqueryui/jtable_jqueryui.css";
        if (!string.IsNullOrEmpty(Request["jTableStyle"]))
        {
            jTableStyle = Request["jTableStyle"];
        }

    }

    <!-- JTable Control BEGIN -->
    <link href="@Url.Content("~/Content/themes/" + jQueryStyle)" rel="stylesheet" type="text/css" /> @*//Para Usar un Tema de JQuery UI*@
    <link href="@Url.Content("~/Scripts/jtable/themes/" + jTableStyle)" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jtable/jquery.jtable.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jtable/localization/jquery.jtable.es.js")"></script>
    <!-- JTable Control END -->
    <!-- Mi Codigo -->
    <script src="~/Scripts/number_format.js"></script>
    <script src="~/Scripts/Disponibilidad/Index.js"></script>

}