﻿@model SolicitudEmpleado.Data.Propiedad

@{
    ViewBag.Title = "Detalles Propiedad";
}

<div class="row">
    <div class="col-md-12">

    <h3 class="titulo">@ViewBag.Title</h3>
        <dl class="dl-horizontal">
            <dt>
                @Html.LabelFor(model => model.PropiedadID, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PropiedadID)
            </dd>

            <dt>
                @Html.LabelFor(model => model.PropiedadTipo, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PropiedadTipo.Nombre)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tipo)
            </dd>

            <dt>
                @Html.LabelFor(model => model.RegularExpression, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RegularExpression)
            </dd>

            <dt>
                @Html.LabelFor(model => model.PlaceHolder, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PlaceHolder)
            </dd>

            <dt>
                @Html.LabelFor(model => model.PorDefecto, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PorDefecto)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Opciones, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Opciones)
            </dd>

        </dl>
    </div>
</div>
