﻿@model SolicitudEmpleado.Models.EditarPropiedadViewModel

@{
    ViewBag.Title = "Habilitar " + Model.Nombre + " en:";
}
<div class="row">
    <div class="col-md-12">
        <h3 class="titulo">@ViewBag.Title</h3>

        @Html.Partial("_MensajeError")

        <form method="post" action="@Request.Url.PathAndQuery">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(p => p.PropiedadId)

            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Listado.FirstOrDefault().Habilitar)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Listado.FirstOrDefault().Requerido)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Listado.FirstOrDefault().Guardar)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Listado.FirstOrDefault().GuardarHistorial)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.Listado.FirstOrDefault().EsUnico)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.Listado.FirstOrDefault().Orden)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Listado.Count; i++)
                {
                <tr>
                    <td>
                        @Html.HiddenFor(p => p.Listado[i].TipoID)
                        @Html.HiddenFor(p => p.Listado[i].Existe)
                        @Html.HiddenFor(p => p.Listado[i].TiposPropiedadesID)
                        @Html.DisplayFor(model => model.Listado[i].Tipos.Nombre)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Listado[i].Habilitar)
                        @Html.ValidationMessageFor(model => model.Listado[i].Habilitar)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Listado[i].Requerido)
                        @Html.ValidationMessageFor(model => model.Listado[i].Requerido)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Listado[i].Guardar)
                        @Html.ValidationMessageFor(model => model.Listado[i].Guardar)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Listado[i].GuardarHistorial)
                        @Html.ValidationMessageFor(model => model.Listado[i].GuardarHistorial)
                    </td>
                    @*<td>
                            @Html.EditorFor(model => model.Listado[i].EsUnico)
                            @Html.ValidationMessageFor(model => model.Listado[i].EsUnico)
                        </td>*@
                    <td>
                        @Html.TextBoxFor(model => model.Listado[i].Orden, new { @style = "width: 35px;" })
                        @Html.ValidationMessageFor(model => model.Listado[i].Orden)
                    </td>
                </tr>
                }
                </tbody>

            </table>

            <div class="form-actions no-color">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>

        </form>

    </div>
</div>
@if (Request.IsAjaxRequest())
{
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <style>
        div#page-modal {
            /*width: 600px !important;*/
        }

        div.modal-body {
            max-height: 560px !important;
        }
    </style>
}
else
{
    @section scripts {
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
        <style>
            div#page-modal {
                /*width: 600px !important;*/
            }
        </style>
    }
}