﻿@model SolicitudEmpleado.Models.CustomReportesViewModel

@{
    ViewBag.Title = "Reportes";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="titulo">@ViewBag.Title</h3>

        @*<ul class="nav nav-tabs nav-justified">
                <li role="presentation" class="active"><a href="#">Reporte por Estado y Fecha</a></li>
            </ul>*@

        <div class="divReporte1">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.FechaInicial, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FechaInicial, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FechaInicial, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FechaFinal, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.FechaFinal, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FechaFinal, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.TipoID, ViewBag.ListaTipos as SelectList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TipoID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EstatusID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.EstatusID, ViewBag.ListaEstatus as SelectList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EstatusID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AsignadoA, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.AsignadoA, Model.ListaAsignadoA as SelectList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AsignadoA, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Formato, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Formato, Model.ListaFormatos, new { @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.Formato, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-actions col-md-offset-2">

                        <button type="submit" class="btn btn-primary">
                            Generar
                        </button>

                    </div>
                </div>}
        </div>
        <div class="divReporte2"></div>
    </div>
</div>

@section scripts{
    <!-- Validacion de MVC Opcion 1-->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!-- Validacion de MVC END -->
}