﻿<!DOCTYPE html>
<html lang="es-do">
<head>
    <title>@System.Web.Configuration.WebConfigurationManager.AppSettings["Seguridad.App.Nombre"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" /> 
    <meta name="author" content="Intranet Banreservas" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @* Styles *@
    @*@Helpers.StyleCDN("/framework/bootstrap-2.3.2/css/bootstrap.min.css")*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css">

    @*@Helpers.StyleCDN("/framework/fontawesome-3.2.1/css/font-awesome.min.css")*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css">
    
    @*@Helpers.StyleCDN("/framework/bootstrap-2.3.2.p2013/css/site.css")
    @Helpers.StyleCDN("/framework/bootstrap-2.3.2.p2013/css/components.css")*@

    @*@Helpers.ScriptCDN("/scripts/modernizr/modernizr-2.6.2.js")*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

    <link href="~/Content/site.css" rel="stylesheet" />
    @RenderSection("styles", required: false)


</head>
<body data-root="@Url.Content("~")" data-cdn="CDN.UrlBase">
  
    @RenderBody()

    @* Scripts *@
    @*@Helpers.ScriptCDN("/scripts/jquery/jquery-1.10.2.min.js")*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    @*@Helpers.ScriptCDN("/framework/bootstrap-2.3.2/js/bootstrap.js")*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

    <script src="~/Scripts/number_format.js"></script>
    <script src="~/Scripts/cargarModal.js"></script> 
    <script src="~/Scripts/masterPage.js"></script>  
    @RenderSection("scripts", required: false)

    @Html.Partial("_ModalTemplate")

</body>
</html>