﻿@if (TempData["MensajeError"] != null)
{
    string mensajeError = TempData["MensajeError"].ToString();
    string tipo = mensajeError.Split('|').First();
    string contenido = mensajeError.Split('|').Last();

    if (tipo == "ok")
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @contenido
        </div>
    }
    else if (tipo == "error")
    {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @contenido
        </div>
    }
    else if (tipo == "info")
    {
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @contenido
        </div>
    }
    else
    {
        <div class="alert alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @contenido
        </div>
    }

    TempData["MensajeError"] = null;
}
