﻿@model SolicitudEmpleado.Data.Plane

@{
    ViewBag.Title = "Eliminar Plane";
}

<div class="row">
    <div class="col-md-12">
<h3 class="titulo">@ViewBag.Title</h3>

<h5>Esta seguro que desea eliminar este registro?</h5>
@Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })


    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.LabelFor(model => model.minutos, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.minutos)
        </dd>

        <dt>
            @Html.LabelFor(model => model.OnNet, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnNet)
        </dd>

        <dt>
            @Html.LabelFor(model => model.OffNet, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffNet)
        </dd>

        <dt>
            @Html.LabelFor(model => model.active, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

        <dt>
            @Html.LabelFor(model => model.OnNetBilled, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnNetBilled)
        </dd>

        <dt>
            @Html.LabelFor(model => model.OffNetBilled, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffNetBilled)
        </dd>

        <dt>
            @Html.LabelFor(model => model.CreadoPor, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreadoPor)
        </dd>

        <dt>
            @Html.LabelFor(model => model.FechaCreacion, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.LabelFor(model => model.ModificadoPor, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModificadoPor)
        </dd>

        <dt>
            @Html.LabelFor(model => model.FechaModificacion, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> 
        </div>
    }
</div>
</div>
