﻿@model IEnumerable<SolicitudEmpleado.Data.Plane>

@{
    ViewBag.Title = "Planes";
}
<div class="row">
    <div class="col-md-12">
<h3 class="titulo">@ViewBag.Title</h3>
@Html.Partial("_MensajeError")

<table class="display table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.minutos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
		<td>
            @Html.DisplayFor(modelItem => item.minutos)
        </td>
        <td>
            @if(item.active)
            {
				<span>Si</span>
            }
            else
            {
                <span>No</span>
            }
        </td>
        <td>
             <div class="btn-group">
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                    Accion
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" onclick="cargarModal('@Url.Action("Details", "Planes", new { id=item.id })')">Detalle</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" onclick="cargarModal('@Url.Action("Edit", "Planes", new { id=item.id })')">Editar</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" onclick="cargarModal('@Url.Action("Delete", "Planes", new { id=item.id })')">Eliminar</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
}
    </tbody>
    </table>

    <div class="form-actions">
        <a href="#" class="btn btn-primary" onclick="cargarModal('@Url.Action("Create", "Planes")')">Crear Nuevo Plane</a>
    </div>
   </div>
</div>

@section scripts{

    @*Datatable BEING*@
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.jqueryui.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    @*Datatable END*@

    <!-- Mi Codigo Data Table -->
    <script src="~/Scripts/myCodeDataTable.js"></script>

}
