﻿@using System.Web.Configuration;

@helper ScriptCDN(string ruta) {
  string cdnUrl = WebConfigurationManager.AppSettings["CDN.UrlBase"];
  if ( ! ruta.StartsWith("/") && ! cdnUrl.EndsWith("/")) {
    cdnUrl += "/";
  }
  <script src="@cdnUrl@ruta"></script>
}

@helper StyleCDN(string ruta) {
  string cdnUrl = WebConfigurationManager.AppSettings["CDN.UrlBase"];
  if ( ! ruta.StartsWith("/") && ! cdnUrl.EndsWith("/")) {
    cdnUrl += "/";
  }
  <link href="@cdnUrl@ruta" rel="stylesheet" />
}

@helper Titulo(string titulo, string subtitulo = null) {
  <div class="row-fluid">
    <div class="span12">
      <div class="row">
        <h3 class="titulo">@titulo</h3>
        @if ( ! String.IsNullOrEmpty(subtitulo)) {
          <p class="subtitulo muted">@subtitulo</p>
        }
      </div>
    </div>
  </div>
}