﻿@model SolicitudEmpleado.Models.ListadoTransaccionesViewModel

@{
    ViewBag.Title = "Transacciones Disponiblidades";
}
<div class="row">

<h3 class="titulo">@ViewBag.Title</h3>

    <div class="column column-3" style="margin-bottom: -41px; z-index: 1">
        <label class="control-label title" for="PropiedadTipo">Propiedad Tipo</label>
        <div class="controls">
            @Html.DropDownListFor(model => model.ReferenciEikonId, ViewBag.ListaReferencia as SelectList)
        </div>
    </div>

<table class="display">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Listado.FirstOrDefault().ReferenciaEikon.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Listado.FirstOrDefault().Propiedad.Nombre)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Listado.FirstOrDefault().Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Listado.FirstOrDefault().Nombre)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Listado) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.ReferenciaEikon.Nombre)
        </td>
        <td>
            @if (item.Propiedad != null)
            {
                @Html.DisplayFor(modelItem => item.Propiedad.Nombre)
            }
            else
            {
                <span>N/A</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
             <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                    Accion
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" onclick="cargarModal('@Url.Action("Details", "TransaccionesDisponiblidads", new { id=item.TransaccionId })')">Detalle</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" onclick="cargarModal('@Url.Action("Edit", "TransaccionesDisponiblidads", new { id=item.TransaccionId })')">Editar</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" onclick="cargarModal('@Url.Action("Delete", "TransaccionesDisponiblidads", new { id=item.TransaccionId })')">Eliminar</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
}
    </tbody>
    </table>

    <div class="form-actions">
        <a href="#" class="btn" onclick="cargarModal('@Url.Action("Create", "TransaccionesDisponiblidads")')">Crear Nuevo Transacciones Disponiblidad</a>
    </div>

</div>

@section scripts{

    @*Datatable BEING*@
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.jqueryui.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    @*Datatable END*@

    <!-- Mi Codigo Data Table -->
    <script src="~/Scripts/myCodeDataTable.js"></script>
    
    <script>

        $(document).ready(function () {

            var nombreDelBoton = "#ReferenciEikonId";

            $(nombreDelBoton).change(function () {
                var selectedValue = $('#ReferenciEikonId').val();
                var div = document.getElementById(nombreDelBoton.replace('#', ''));
                var divRoot = document.getElementsByTagName("body")[0].getAttribute('data-root');
                var url = divRoot + 'TransaccionesDisponiblidads/Index/' + selectedValue;
                Redirect(url);

            });

        });


    </script>

}
