﻿@model SolicitudEmpleado.Models.DetalleDisponibViewModel
@using SolicitudEmpleado.Helpers

@{
    ViewBag.Title = "Disponiblidad de los Últimos Períodos";
}

<div class="row">

    <h3 class="titulo">@ViewBag.Title</h3>

    <div class="row-fluid" style="
            margin-top: -10px;
            width: 85%;
            margin-left: auto;
            margin-right: auto; color: #777;">

        @Html.HiddenFor(p => p.Identificacion)
        @Html.HiddenFor(p => p.TipoIdentificacionID)

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.codigoEmpleado)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.codigoEmpleado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.nombreEmpleado)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.nombreEmpleado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cedula)
            </dt>
            <dd>
                @Intranet.Helpers.ClientesHelper.DarFormatoIdentificacion(Model.cedula)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.posicion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.posicion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tiempoServicio)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.tiempoServicio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fechaIngreso)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.fechaIngreso)
            </dd>
        </dl>


        <div id="divContenedorPrestamos"
             data-url="@Url.Action("","Solicitudes")">
        </div>

        <div class="row-fluid" style="width: 85%; margin-left: auto; margin-right: auto; color: #777; clear:both;">
            <div class="span6">
                <dl class="dl-horizontal">

                    <dt style="color: black;">
                        INGRESOS
                    </dt>
                    <dd>
                        &nbsp;
                    </dd>
                    @for (int i = 0; i < Model.ingresos.Count; i++)
                    {
                        <dt>
                            @Intranet.Helpers.CadenaHelper.ToTitleCase(Model.ingresos[i].Nombre)
                        </dt>
                        <dd>
                            @Html.DisplayForPropiedad(Model.ingresos[i].Valor, Model.ingresos[i].Tipo)
                        </dd>
                    }

                </dl>
            </div>
            <div class="span6">
                <dl class="dl-horizontal">

                    <dt style="color: black;">
                        DEDUCCIONES
                    </dt>
                    <dd>
                        &nbsp;
                    </dd>
                    @for (int i = 0; i < Model.deduccio.Count; i++)
                    {
                        <dt>
                            @Intranet.Helpers.CadenaHelper.ToTitleCase(Model.deduccio[i].Nombre)
                        </dt>
                        <dd>
                            @Html.DisplayForPropiedad(Model.deduccio[i].Valor, Model.deduccio[i].Tipo)
                        </dd>
                    }
                </dl>
            </div>
        </div>

        <div class="row-fluid" style="width: 85%; margin-left: auto; margin-right: auto; color: #777; clear:both;">
            <div class="span6">
                <dl class="dl-horizontal">

                    <dt style="color: black;">
                        TOTAL INGRESOS
                    </dt>
                    <dd>
                        &nbsp;
                    </dd>
                    @for (int i = 0; i < Model.totalIngresos.Count; i++)
                    {
                        <dt>
                            @Html.DisplayFor(model => model.totalIngresos[i].Nombre)
                        </dt>
                        <dd>
                            @Html.DisplayForPropiedad(Model.totalIngresos[i].Valor, Model.totalIngresos[i].Tipo)
                        </dd>
                    }

                </dl>
            </div>
            <div class="span6">
                <dl class="dl-horizontal">

                    <dt style="color: black;">
                        TOTAL DEDUCCIONES
                    </dt>
                    <dd>
                        &nbsp;
                    </dd>
                    @for (int i = 0; i < Model.totalDeduccio.Count; i++)
                    {
                        <dt>
                            @Html.DisplayFor(model => model.totalDeduccio[i].Nombre)
                        </dt>
                        <dd>
                            @Html.DisplayForPropiedad(Model.totalDeduccio[i].Valor, Model.totalDeduccio[i].Tipo)
                        </dd>
                    }
                </dl>
            </div>
        </div>

    </div>
</div>

@section scripts{

    @{
        //Para Usar un Tema de JQuery UI
        var jQueryStyle = "custom-theme/jquery-ui-1.10.3.custom.css";
        if (!string.IsNullOrEmpty(Request["jQueryStyle"]))
        {
            jQueryStyle = Request["jQueryStyle"];
        }

        var jTableStyle = "jqueryui/jtable_jqueryui.css";
        if (!string.IsNullOrEmpty(Request["jTableStyle"]))
        {
            jTableStyle = Request["jTableStyle"];
        }

    }

    <!-- JTable Control BEGIN -->
    <link href="@Url.Content("~/Content/themes/" + jQueryStyle)" rel="stylesheet" type="text/css" /> @*//Para Usar un Tema de JQuery UI*@
    <link href="@Url.Content("~/Scripts/jtable/themes/" + jTableStyle)" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jtable/jquery.jtable.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jtable/localization/jquery.jtable.es.js")"></script>
    <!-- JTable Control END -->

    <script src="~/Scripts/number_format.js"></script>
    <script src="~/Scripts/Disponibilidad/Detalle.js"></script>

}
