﻿@model SolicitudEmpleado.Data.Bloqueo

@{
    ViewBag.Title = "Desbloquear";
}
<div class="row">

    <h3 class="titulo">@ViewBag.Title</h3>
    <h5>Esta Seguro que desea desbloquear este usuario?</h5>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(h => h.BloqueoID)
        @Html.HiddenFor(h => h.EmpresaID)
        <div class="">

            @Html.ValidationSummary(true, "", new { @class = "alert alert-error" })

            <div class="form-group">
                @Html.LabelFor(model => model.Empresa.Nombre, htmlAttributes: new { @class = "control-label title" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Empresa.Nombre, null, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.UsuarioID, htmlAttributes: new { @class = "control-label title" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.UsuarioID, null, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>

            @if (Model.Nombre != ""  && Model.Nombre != null)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label title" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Nombre, null, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
            }
            <div class="form-group">
                @Html.LabelFor(model => model.Motivo, htmlAttributes: new { @class = "control-label title" })
                <div class="controls">
                    @Html.EditorFor(model => model.Motivo)
                    <div>
                        @Html.ValidationMessageFor(model => model.Motivo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Comentario, htmlAttributes: new { @class = "control-label title" })
                <div class="controls">
                    @Html.EditorFor(model => model.Comentario)
                    <div>
                        @Html.ValidationMessageFor(model => model.Comentario, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>

        <div class="form-actions">
            <input type="submit" value="Desbloquear" class="btn btn-default" />            
        </div>
    }
</div>

@if (Request.IsAjaxRequest())
{
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
}
else
{
    @section scripts {
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    }
}