﻿@model SolicitudEmpleado.Models.DetalleBloqueoViewModel

@{
    ViewBag.Title = "Detalle de bloqueo";
}

<div class="row">

    <h3 class="titulo">Detalle de Bloqueo</h3>

    <dl class="dl-horizontal">

        <dt class="title">
            @Html.LabelFor(model => model.bloqueo.EmpresaNombre, htmlAttributes: new { @class = "control-label title" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bloqueo.EmpresaNombre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.bloqueo.UsuarioID, htmlAttributes: new { @class = "control-label title" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bloqueo.UsuarioID) &nbsp;
        </dd>

        @if (Model.bloqueo.UsuarioNombre != "" && Model.bloqueo.UsuarioNombre != null)
        {
            <dt>
                @Html.LabelFor(model => model.bloqueo.UsuarioNombre, htmlAttributes: new { @class = "control-label title" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.bloqueo.UsuarioNombre) &nbsp;
            </dd>
        }
        
        <dt>
            @Html.LabelFor(model => model.bloqueo.Estado, htmlAttributes: new { @class = "control-label title" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bloqueo.Estado) &nbsp;
        </dd>

       
        <dt>
            @Html.LabelFor(model => model.bloqueo.CreadoPor, htmlAttributes: new { @class = "control-label title" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bloqueo.CreadoPor) &nbsp;
        </dd>

        <dt>
            @Html.LabelFor(model => model.bloqueo.FechaCreacion, htmlAttributes: new { @class = "control-label title" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bloqueo.FechaCreacion)  &nbsp;
        </dd>

    </dl>

    <h5>Historial</h5>

    <table class="table">
        <tr>
            <th>
                <label class="title">Estado</label>
            </th>
            <th>
                <label class="title">Motivo</label>
            </th>
            <th>
                <label class="title">Comentario</label>
            </th>
            <th>
                <label class="title">Usuario</label>
            </th>
            <th>
                <label class="title">Fecha</label>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.bloqueosLogs)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Motivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreadoPor_UsuarioDeRed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacion)
                </td>

            </tr>
        }

    </table>

    <div class="form-actions">
    </div>

</div>